@model IEnumerable<OXXO.Models.Tablero>
<style>

</style>
<div class="container">
    <h1 id="titulo">Tablero</h1>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h6>$ OPERACIÓN DIARIA MES ACTUAL</h6>
                    <div id="OperacionDiaria"></div>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div id="OpMesActual1"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h6>Emisores TOP 10</h6>
                    <table id="tableTopTen" class="table" style="width:100%">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">ID Emisor</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Transacciones</th>
                                <th scope="col">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>@Html.DisplayFor(modelItem => item.id)</td>
                                    <td scope="row">@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Transaccion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Monto)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h6>Emisores Inactivos</h6>
                    <table id="tableInactivos" class="table" style="width:100%">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">ID Emisor</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Transacciones</th>
                                <th scope="col">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>@Html.DisplayFor(modelItem => item.id)</td>
                                    <td scope="row">@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Transaccion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Monto)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div id="OpMesActual2"></div>
                </div>
            </div>
        </div>
    </div>

    @*<br />*@
    @*<div class="col-4 col-md-4">

            <br />

        </div>*@
</div>

<br />
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>*@
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    $(document).ready(function () {
        $('#tableTopTen').dataTable({
            scrollY: '150px',
            scrollCollapse: false,
            paging: false,
            searching: false,
        });
        $('#tableInactivos').dataTable({
            scrollY: '150px',
            scrollCollapse: false,
            paging: false,
            searching: false,
        });

    });

        function drawBackgroundColor() {
            var datosgrafica;
            $.ajax({
                url: '/Tablero/GetDiario/',
                type: 'GET',
                dataType: 'json',
                success: function (result) {
                    /*var parse = Object.values(JSON.parse(data))*/
                    //json_data = { data};
                    //console.log(data);
                    //var result = [];
                    //for (var i in json_data)
                    //    result.push([i, json_data[i]]);
                    
               /*   console.log(arreglo);*/

                    /*var data = new google.visualization.DataTable();*/
                   /* var data = new google.visualization.arrayToDataTable(array);*/
                    /*console.log(data);*/
                    /*   data.addColumn();*/
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'id');
                    data.addColumn('number', 'fondos');
             /*       data.addRows(data);*/

                    data.addRows([
                        [0, 0], [1, 10], [2, 23], [3, 17], [4, 18], [5, 9],
                        [6, 11], [7, 27], [8, 33], [9, 40], [10, 32], [11, 35],
                        [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 39],
                        [18, 39], [19, 39], [20, 29], [21, 26], [22, 20], [23, 19],
                        [24, 15], [25, 10], [26, 10], [27, 10], [28, 10], [29, 10],
                        [30, 10], [31, 9]
                    ]);

                    var options = {
                        legend: { position: 'none' },
                        hAxis: {
                            title: 'Días del mes'
                        },
                        vAxis: {
                            title: 'Fondos Adquiridos'
                        },
                        backgroundColor: '#fff'
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('OperacionDiaria'));
                    chart.draw(data, options);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    alert("Ha ocurrido un error");
                }
            });

           
        }
        var arreglo = [];
        function pushh(result) {

            for (var i in result)
                arreglo.push([i, result[i]]);
            //for (var i = 0; i < result.length; i++) {
            //    arreglo.push(Object.values(result[i]));
            //}
            //for (var i = 0; i < result.counters.length; i++) {
            //    arreglo = result.counters[i];
            //}
            console.log(arreglo);
        }

        function drawChart() {

            $.ajax({
                url: '/Tablero/GetActMeses/',
                type: 'GET',
                dataType: 'json',
                success: function (result) {

            /*        const result1 = JSON.stringify(result);*/
                    /*pushh(result);*/
                    console.log(result);
                    const arr = result.split(',');
                    /*arr = arr.replace(':',',');*/
                    console.log(arr);
                    //var data = new google.visualization.DataTable();
                    //data.addColumn('string', 'Meses');
                    //data.addColumn('number', 'Fondos');
                    //data.addRows(arr);
                    //console.log(data);
                    var data2 = google.visualization.arrayToDataTable([
                        ['Meses', 'Fondos'],
                        ['ENERO', 780],
                        ['FEBRERO', 180],
                        ['MARZO', 440],
                        //result,
                       /* data*/
                    ]);

                    var options = {
                        chart: {
                            title: '$ OP. MES ACTUAL',
                        },
                        legend: { position: 'none' },
                        bars: 'vertical',
                        vAxis: { format: 'decimal' },
                        height: 226,
                        colors: ['#d95f02']
                    };

                    var chart = new google.charts.Bar(document.getElementById('OpMesActual1'));

                    chart.draw(data2, google.charts.Bar.convertOptions(options));
                   
                   
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    alert("Ha ocurrido un error");
                }
            });



        }

        function drawChart1() {
            var data = google.visualization.arrayToDataTable([
                ['', ''],
                ['ENE', 200],
                ['FEB', 460],
                ['MAR', 960]
            ]);

            var options = {
                chart: {
                    title: '$ OP. ULTIMOS 2 MESES',
                },
                legend: { position: 'none' },
                bars: 'vertical',
                vAxis: { format: 'decimal' },
                height: 226,
                colors: ['#1b9e77']
            };

            var chart = new google.charts.Bar(document.getElementById('OpMesActual2'));

            chart.draw(data, google.charts.Bar.convertOptions(options));

        }

        $(window).resize(function () {
            drawBackgroundColor();
            drawChart();
            drawChart1();
        });

        google.charts.load('current', { packages: ['corechart', 'line'] });
        google.charts.setOnLoadCallback(drawBackgroundColor);
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart1);
   /* });*/
</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}