@model OXXO.Models.MenuUser
@{ 
    Layout = null;
}

<div id="sidebar" class="collapse collapse-horizontal show border-end">
    <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
        <a href="/Home" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><img src="~/img/logo.png" class="logo" width="200" alt="Alternate Text" /></a>

        @foreach (var item in Model.Menus)
        {
            //<li class="dropdown">
            <div id = "sidebar" class="collapse collapse-horizontal show border-end">
            <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
        <a href="#" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">@item.MenuMain.NombreMenu<span></span> </a>
        @*<button class="dropbtn">@item.MenuMain.NombreMenu</button>*@
       @*<div class="dropdown-content">*@
            @foreach (var subMenu in item.SubMenus)
                                            {
            <a class="nav-link text-dark" href="@Url.Action(subMenu.ActionName, subMenu.ControllerName)">@subMenu.Encabezado</a>
                                            }
            @*//*@
        </div>
    </div>
        //</li>
}
        <div>
            <a class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar" asp-area="" asp-controller="Login" asp-action="LogOut">Cerrar Sesion</a>
        </div>
        @*@if (Context.Session.GetString("IdPerfil") != null)
        {
            <div id="foo-view" data-url="@Url.Action(action:"MostrarMenu", controller:"Menu")"></div>
        }*@
        @*<div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <a href="/Home" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><img src="~/img/logo.png" class="logo" width="200" alt="Alternate Text" /></a>
            <a href="#" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-person-circle"></i> <span>Perfil</span> </a>
            <a href="#" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-plus"></i><span>Altas</span></a>
            <a href="#" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-file-earmark-plus"></i> <span>Carga de documentos</span></a>
            <a href="#" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-patch-check"></i> <span>Verificacion</span></a>
            <a href="#" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-clock"></i> <span>Catergorizacion</span></a>
            <a href="#" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-archive"></i> <span>Mantenimiento</span></a>
            <a id="Privacy" href="/Home/Privacy" class="menu list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><span>Privacidad</span></a>
        </div>*@
    </div>
    </div>
