@model IEnumerable<OXXO.Models.Perfil>

<div class="container">
    <div id="PlaceHolderHere"></div>
    <style>

        .input-validation-error {
            border-color: red;
        }
    </style>
    @if (ViewBag.Alert != null)
    {
        <div id="alerta" class="container body-content">
            @Html.Raw(@ViewBag.Alert)
        </div>
    }

    <h1 id="titulo">Perfiles</h1>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" style="width: 120px; border-radius: 0px; "><i class="bi bi-funnel"></i> Filtrar</button>
    @if (ViewBag.Crear)
    {

        <button id="CreatePerfil" class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightCrear" aria-controls="offcanvasRightCrear" style="border-radius: 0px; "><i class="bi bi-person-plus-fill"></i> Crear un nuevo perfil</button>
    }
    <div class="accordion-bral">
        <div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5>Filtrar</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <form name="myForm" asp-controller="Perfiles" asp-action="Index" onsubmit="return validateForm()" class="p-3">
                        <div class="row">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nombre Perfil</label>
                                <input type="text" name="NombrePerfil" class="form-control form-control-sm">
                            </div>
                            @*<div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Nombre de Usuario</label>
                                    <input type="text" name="UserName" class="form-control form-control-sm">
                                </div>*@
                        </div>
                        <div class="row p-2">
                            <input type="submit" value="Buscar" class="btn btn-dark float-right" />
                        </div>
                        <script>
                            function validateForm() {
                                var x = document.forms["myForm"]["NombrePerfil"].value;
                                /*    var y = document.forms["myForm"]["UserName"].value;*/
                                if (x == "") {
                                    Swal.fire({ icon: 'info', title: '¡Atención!', text: 'Debes seleccionar un valor para buscar.' })
                                    return false;
                                }
                            }
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />

    <table id="tableperfil" class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estatus</th>
                <th colspan="1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td style="display:none">@Html.DisplayFor(modelItem => item.IdPerfil)</td>
                    <td scope="row">@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                    @if (item.Activo == false)
                    {
                        <td>Inactivo</td>
                    }
                    else
                    {
                        <td>Activo</td>
                    }
                    <td>
                        @if (ViewBag.Editar)
                        {
                            <button id="editPerfil" data-url="Editar" onclick="datos(@item.IdPerfil)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightEdit" aria-controls="offcanvasRightEdit" title="Editar Perfil" class="btn btn-block popup btn-sm" type="button" style="border-radius: 0px;"><i class="bi bi-person-lines-fill"></i> Editar</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <div class="accordion-bral">
        <div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightEdit" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5>Editar Perfil</h5>

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div id="createBodyEdit" class="offcanvas-body">

                </div>
            </div>
        </div>
    </div>



    <div class="accordion-bral">
        <div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightCrear" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5>Crear un nuevo perfil</h5>

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div id="createBodyCrear" class="offcanvas-body">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

    /*     document.getElementById("alerta").style.display = "none";*/
    let idt;
    function datos(id) {
        idt = id;
    }

    $('#tableperfil tbody').on('click', '#editPerfil', function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        $.ajax({
            url: '/Perfiles/Editar/',
            type: 'GET',
            data: { IdPerfil: idt },
            success: function (res) {
                $('#offcanvasRightEdit').html(res);
                $('#createBodyEdit').modal('show');
            },
            error: function () {
                alert("¡Hay un problema con el servicio, favor de reiniciar!")
            }
        });

    });


    $('#CreatePerfil').click(function (event) {
        event.preventDefault();
        event.stopImmediatePropagation();

        $.ajax({
            url: '/Perfiles/Crear/',
            type: 'GET',
            success: function (res) {
                $('#offcanvasRightCrear').html(res);
                $('#createBodyCrear').modal('show');
            },
            error: function () {
                alert("¡Hay un problema con el servicio, favor de reiniciar!")
            }
        });
    });
    $(document).ready(function () {

    });

</script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}